variables:
#  CI_DEBUG_TRACE: "true"

stages:
  - backup
  - build
  - deploy
  - eol

before_script:
  - echo "*** Setup access credentials"
  - mkdir ~/.aws
  - echo "${AWS_config}"      > ~/.aws/config
  - echo "${AWS_credentials}" > ~/.aws/credentials
  - '$(aws ecr get-login --no-include-email)'  

backup-mysql:
  stage: backup
  when: manual
  image: 422207425354.dkr.ecr.ap-southeast-2.amazonaws.com/docker-aws:latest
  tags:
    - worker
  script:
    - echo "*** Do a datanbase backup"
    - mysqldump --default-character-set=binary -h$WP_DB_HOST -u$WP_DB_USER -p$WP_DB_PASSWORD $WP_DB_NAME | mysql --default-character-set=binary -h$WP_DB_HOST_BACKUP -u$WP_DB_USER_BACKUP -p$WP_DB_PASSWORD_BACKUP -D $WP_DB_NAME_BACKUP

build:
  stage: build
  when: manual
  image: 422207425354.dkr.ecr.ap-southeast-2.amazonaws.com/docker-aws:latest
  tags:
    - worker
  script:
    - echo "*** Prepare a file(s)"
    - echo "${WP_CONFIG}" > ./wp-config.php
    - cat ./wp-config.php
    - tar cf ./docker.tar ./ --exclude=docker.tar
    - echo "*** Build a image"
    - docker build -t "${IMAGE}" . 
    - echo "*** Push a image to registry"
    - docker push "${IMAGE}"

deploy-ECS:
  stage: deploy
  when: manual
  image: 422207425354.dkr.ecr.ap-southeast-2.amazonaws.com/docker-aws:latest
  tags:
    - worker
  script:
    ecs-deploy --use-latest-task-def --cluster "${ECS_CLUSTER}" --service-name "${ECS_SERVICE}" --image "${IMAGE}" --region "${AWS_REGION}" --timeout 600

remove-ECS:
  stage: eol
  when: manual
  image: 422207425354.dkr.ecr.ap-southeast-2.amazonaws.com/docker-aws:latest
  tags:
    - worker
  script:
    - echo "*** Stop a service"
    - TASK_ARN=`aws ecs list-tasks --cluster "${ECS_CLUSTER}" --region "${AWS_REGION}" | jq -r .taskArns[0]`
    - echo "*** Stop task ${TASK_ARN}"
    - aws ecs stop-task --cluster "${ECS_CLUSTER}" --region "${AWS_REGION}" --task "${TASK_ARN}" || true
    - sleep 15
    - echo "*** Remove service ${ECS_SERVICE}"
    - aws ecs delete-service --cluster "${ECS_CLUSTER}" --region "${AWS_REGION}" --service "${ECS_SERVICE}"
