variables:
#  CI_DEBUG_TRACE: "true"

stages:
  - backup
  - build
  - deploy

before_script:
  - echo "*** Setup access credentials"
  - mkdir ~/.aws
  - echo "${AWS_config}"      > ~/.aws/config
  - echo "${AWS_credentials}" > ~/.aws/credentials
  - '$(aws ecr get-login --no-include-email)'  

backup-mysql:
  stage: backup
  when: always
  image: 257040594755.dkr.ecr.eu-west-1.amazonaws.com/worker:latest
  tags:
    - worker
  only:
    - master
  script:
    - echo "*** Do a datanbase backup"
    - mysqldump --default-character-set=binary -h$WP_DB_HOST_PROD -u$WP_DB_USER_PROD -p$WP_DB_PASSWORD_PROD $WP_DB_NAME_PROD | gzip > ./${CI_COMMIT_SHA}.sql.gz
    - aws s3 cp ./${CI_COMMIT_SHA}.sql.gz s3://${DB_BACKUP_S3}/${CI_PROJECT_PATH_SLUG}/${CI_COMMIT_SHA}.sql.gz

restore-mysql:
  stage: backup
  when: manual
  image: 257040594755.dkr.ecr.eu-west-1.amazonaws.com/worker:latest
  tags:
    - worker
  only:
    - master
  script:
    - echo "*** Do a datanbase rollback"
    - aws s3 cp s3://${DB_BACKUP_S3}/${CI_PROJECT_PATH_SLUG}/${CI_COMMIT_SHA}.sql.gz ./
    - cat ./${CI_COMMIT_SHA}.sql.gz | gunzip | mysql --default-character-set=binary -h$WP_DB_HOST_PROD -u$WP_DB_USER_PROD -p$WP_DB_PASSWORD_PROD $WP_DB_NAME_PROD
    
clone-mysql:
  stage: backup
  when: manual
  image: 257040594755.dkr.ecr.eu-west-1.amazonaws.com/worker:latest
  tags:
    - worker
  script:
    - echo "*** Do a hot datanbase clone Prod->Dev"
    - mysqldump --default-character-set=binary -h$WP_DB_HOST_PROD -u$WP_DB_USER_PROD -p$WP_DB_PASSWORD_PROD $WP_DB_NAME_PROD | mysql --default-character-set=binary -h$WP_DB_HOST_DEV -u$WP_DB_USER_DEV -p$WP_DB_PASSWORD_DEV -D $WP_DB_NAME_DEV

build-dev:
  stage: build
  when: manual
  image: 257040594755.dkr.ecr.eu-west-1.amazonaws.com/worker:latest
  tags:
    - worker
  only:
    - master
  variables:
    WP_DB_HOST: ${WP_DB_HOST_DEV}
    WP_DB_USER: ${WP_DB_USER_DEV}
    WP_DB_PASSWORD: ${WP_DB_PASSWORD_DEV}
    WP_DB_NAME: ${WP_DB_NAME_DEV}
    IMAGE_TAG: dev
  script:
    - 'curl -s -H "PRIVATE-TOKEN: ${SCRIPTS_TOKEN}" -o ./build-wordpress.sh https://gitlab-ci.sactech.org/admins/scripts/raw/master/build-wordpress.sh'
    - bash ./build-wordpress.sh

deploy-prod:
  stage: deploy
  when: manual
  image: 257040594755.dkr.ecr.eu-west-1.amazonaws.com/worker:latest
  tags:
    - worker
  only:
    - master
  environment:
    name: production
  script:
    ecs-deploy --use-latest-task-def --cluster "${ECS_CLUSTER}" --service-name "${ECS_SERVICE}" --image "${IMAGE}" --region "${AWS_REGION}" --timeout 600

syncback:
  stage: deploy
  when: manual
  image: worker
  tags:
    - worker
  only:
    - master
  script:
    - 'curl -s -H "PRIVATE-TOKEN: ${SCRIPTS_TOKEN}" -o ./syncback.sh https://gitlab-ci.sactech.org/admins/scripts/raw/master/syncback.sh'
    - bash ./syncback.sh

